body {
	/*background: #ED4264;
	background: -webkit-linear-gradient(to top, #FFEDBC, #ED4264);
	background: linear-gradient(to top, #FFEDBC, #ED4264);*/
	background: linear-gradient(45deg, #FFEDBC, #ED4264, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Questrial', 'Helvetica', sans-serif;
	font-size: 18px;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.row {
	margin-top: 40px;
}
.title {
	margin: 40px 0 80px;
}
p {
	font-size: 1.11em;
}

h1 {
	font-family: 'Handlee', cursive;
	font-size: 4.444em;
	color: #eee;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

h2 {
	font-family: 'Handlee', cursive;
	font-size: 2em;
}
.full-image {
	width: 100%;
	padding: 10px;
	background: #eee;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.gallery {
	margin: 60px 0;
	display: block;
}

.gallery img {
	display: block;
}

.gallery figure {
	margin-bottom: 20px;
}

.gallery figure figcaption {
	padding: 10px 0;
	text-align: center;
}

.gallery-image {
	width: 100%;
	padding: 10px;
	margin-top: 0px;
	background: #eee;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}